$maxWidthContainer: 1440; // макетное значение
$maxWidth: 1920; //max размер экрана, подкотрый будем расширять макетное значение
$minWidth: 320;
$mainColor: #000;
$fontSize: 16;
$fontFamily: "Inter";
$containerPadding: 30; // (30 = по 15px слева и справа, 0 = отсутствует отступ)
$containerWidth: $maxWidthContainer + $containerPadding; //ширина для первого брейкпоинта

//other
$fontFamilySec:"Sen";






