$maxWidthContainer: 1440; // макетное значение
$maxWidth: 1920; //max размер экрана, подкотрый будем расширять макетное значение
$minWidth: 320;
$mainColor: #000;
$fontSize: 16;
$fontFamily: "Inter";
$containerPadding: 30; // (30 = по 15px слева и справа, 0 = отсутствует отступ)
$containerWidth: $maxWidthContainer + $containerPadding; //ширина для первого брейкпоинта

//other
$fontFamilySec:"Sen";

// @include adaptiv-value("max-width", 0, 0, 0);
// @include adaptiv-value("max-height", 0, 0, 0);
// @include adaptiv-value("width", 0, 0, 0);
// @include adaptiv-value("height", 0, 0, 0);
// @include adaptiv-value("font-size", 0, 0, 0);
// @include adaptiv-value("line-height", 0, 0, 0);
// @include adaptiv-value("margin-top", 0, 0, 0);
// @include adaptiv-value("margin-bottom", 0, 0, 0);
// @include adaptiv-value("margin-left", 0, 0, 0);
// @include adaptiv-value("margin-right", 0, 0, 0);
// @include adaptiv-value("padding-top", 0, 0, 0);
// @include adaptiv-value("padding-bottom", 0, 0, 0);
// @include adaptiv-value("padding-left", 0, 0, 0);
// @include adaptiv-value("padding-right", 0, 0, 0);



