.footer {
  &__container {
    // @include adaptiv-value("height", 675, 300, 0);
    max-height: 445px;
    background: rgb(35, 37, 54);
    color: #ffffff;
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-top", 59, 15, 0);
    @include adaptiv-value("font-size", 59, 26, 0);
    @include adaptiv-value("line-height", 56, 13, 0);
    // padding-top: 59px;
    // padding-bottom: 56px;

    // @media (max-width:) {
      
    // }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 140px;
    height: 28.35px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__links {
    ul {
      @include adaptiv-value("gap", 36, 2, 0);
      // gap: 36px;
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 10, 0);
      @include adaptiv-value("line-height", 28, 20, 0);
      display: flex;
      align-items: center;

      @media (max-width: 450px) {
        display: block;
        line-height: 15px;
        text-align: right;
      }
    }
  }

  &__subscribe {
    display: flex;
    justify-content: center;
    @include adaptiv-value("padding-top", 80, 30, 0);
    @include adaptiv-value("padding-bottom", 80, 30, 0);
    @include adaptiv-value("padding-left", 64, 14, 0);
    // padding-left: 64px;

    @media (max-width: 620px) {
      display: block;
      text-align: center;
    }

    @include adaptiv-value("gap", 64, 10, 0);

    p {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 20, 0);
      @include adaptiv-value("line-height", 48, 24, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      // font-size: 36px;
      // line-height: 48px;
      display: flex;
      align-items: center;
      // letter-spacing: -2px;
      //
      // @include adaptiv-value("padding-top", 80, 30, 0);
      // @include adaptiv-value("padding-bottom", 80, 30, 0);
      // padding-top: 80px;
      // padding-bottom: 80px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 650px) {
      display: block;
      margin-top: 15px;
      align-items: center;
      align-self: center;
    }
  }

  &__input {
    display: flex;
    @include adaptiv-value("width", 323, 260, 0);
    @include adaptiv-value("height", 56, 50, 0);
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 14, 0);
    @include adaptiv-value("padding-left", 24.92, 10.92, 0);
    @include adaptiv-value("padding-top", 14, 4, 0);
    @include adaptiv-value("padding-bottom", 14, 4, 0);
    display: flex;
    align-items: center;
    color: #6d6e76;
    box-sizing: border-box;
    border: 1px solid rgb(76, 76, 76);
  }

  &__bottom {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    // flex-wrap: wrap;

    @media (max-width: 650px) {
      display: block;
      // justify-content: center;
      text-align: center;
    }
  }

  &__contact {
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 14, 0);
    // font-size: 16px;
    // line-height: 28px;
    opacity: 0.7;
  }

  &__social {
    color: #232536;

    @media (max-width: 650px) {
      display: block;
      padding-top: 20px;
      a {
        &:nth-child(2n) {
          padding-left: 20px;
        }
        &:nth-child(3) {
          padding-left: 20px;
        }
      }
    }
  }
}
.btn-subscribe {
  @include adaptiv-value("padding-top", 16, 8, 0);
  @include adaptiv-value("padding-bottom", 16, 8, 0);
  @include adaptiv-value("padding-left", 48, 20, 0);
  @include adaptiv-value("padding-right", 48, 20, 0);
  //   padding: 16px 48px;
  // gap: 12px;
  // @include adaptiv-value("width", 174, 102, 0);
  // @include adaptiv-value("height", 56, 40, 0);
  font-family: "Sen";
  font-weight: 700;
  @include adaptiv-value("font-size", 18, 14, 0);
  @include adaptiv-value("line-height", 24, 18, 0);
  // font-size: 18px;
  // line-height: 24px;

  align-items: center;
  background: rgb(255, 208, 80);
  color: #232536;

  @media (max-width: 650px) {
    margin-top: 15px;
  }
}
