.category {
  //   &__container {
  //     display: flex;
  //     flex-direction: column;
  //     background-color: #ffffff;
  //     @include adaptiv-value("padding-top", 127, 15, 0);
  //     @include adaptiv-value("padding-left", 80, 30, 0);
  //     color: rgb(35, 37, 54);
  //   }

  //   &__tittle {
  //     font-family: "Sen";
  //     font-weight: 700;
  //     @include adaptiv-value("font-size", 36, 18, 0);
  //     @include adaptiv-value("line-height", 48, 22, 0);
  //     @include adaptiv-value("letter-spacing", -2, 0, 0);
  //     @include adaptiv-value("padding-bottom", 48, 4, 0);
  //     text-align: center;
  //   }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @include adaptiv-value("grid-gap", 32, 2, 0);
  }

  &__item {
    box-sizing: border-box;
    border: 1px solid rgb(109, 110, 118, 0.1);

    flex-basis: calc(33.33% - 16px);
    justify-content: space-around;
    @include adaptiv-value("padding", 32, 10, 0);
    &:hover {
      background: rgb(255, 208, 80);
      border: 1px solid rgb(255, 208, 80, 0.3);
      transform: translateY(-5px);
      transition: transform 800ms, background 1s;
    }

    img {
      @include adaptiv-value("width", 48, 30, 0);
      @include adaptiv-value("height", 48, 30, 0);
      background: rgb(251, 246, 234);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h4 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 28, 16, 0);
      @include adaptiv-value("line-height", 40, 20, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 14, 0);
      @include adaptiv-value("line-height", 28, 18, 0);
      color: #6d6e76;
    }
  }
}
