@import "min/nav";
@import "min/buttons";
@import "min/items_categories";
@import "min/authors";
@import "min/join-team";
@import "min/footer";

.aboutus-header {
  &__container {
    background-color: #ffffff;
    @include adaptiv-value("padding-top", 80, 15, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    color: rgb(35, 37, 54);
    max-height: 736px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-bottom: -3000px;
  }

  &__body {
    display: flex;
    @include adaptiv-value("gap", 32, 16, 0);
    // gap: 32px;
  }

  &__left {
    z-index: 1;
    position: relative;
    background: rgb(255, 255, 255);
    @include adaptiv-value("width", 624, 140, 0);
    // width: 624px;
    max-height: 356px;

    @include adaptiv-value("padding", 64, 25, 0);
    // padding: 64px;
    h5 {
      font-weight: 500;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 16, 0);
      @include adaptiv-value("letter-spacing", 3, 1, 0);
      @include adaptiv-value("padding-bottom", 16, 0, 0);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 3px;
      padding-bottom: 16px;
      text-transform: uppercase;
    }
    h1 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 48, 18, 0);
      @include adaptiv-value("line-height", 64, 28, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      //   font-size: 48px;
      //   line-height: 64px;
      //   letter-spacing: -2px;
    }
  }

  &__right {
    @include adaptiv-value("width", 397, 140, 0);
    @include adaptiv-value("padding-top", 64, 25, 0);
    max-height: 356px;

    @media (max-width: 1024px) {
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.31);
    }

    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      //   font-size: 16px;
      //   line-height: 28px;
      color: #4c4c4c;
      text-align: justify;
    }
  }
}

.mision-vision {
  position: relative;

  &__container {
    // @include adaptiv-value("top", -13, -13, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(244, 240, 248);

    @include adaptiv-value("gap", 32, 8, 0);
    // gap: 32px;
    @include adaptiv-value("padding-left", 80, 15, 0);
    color: rgb(35, 37, 54);
    @include adaptiv-value("padding-top", 128, 15, 0);
    @include adaptiv-value("padding-bottom", 128, 15, 0);
    // @include adaptiv-value("margin-top", -63, -13, 0);
    max-height: 699px;
  }

  &__top {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    // @include adaptiv-value("gap", 32, 18, 0);
    // gap: 32px;
    @include adaptiv-value("column-gap", 32, 18, 0);
    // column-gap: 32px;
    align-items: center;
    justify-content: space-around;
    @include adaptiv-value("padding-bottom", 64, 14, 0);
  }

  &__left {
    max-width: 516px;
    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 16, 0);
      @include adaptiv-value("letter-spacing", 3, 0, 0);
      @include adaptiv-value("padding-bottom", 24, 14, 0);
      text-transform: uppercase;
    }
    h3 {
      font-family: "Sen";
      @include adaptiv-value("font-size", 28, 18, 0);
      @include adaptiv-value("line-height", 40, 26, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 6, 0);
      font-weight: 700;
      // text-align: justify;
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      @include adaptiv-value("padding-bottom", 64, 14, 0);
      color: #6d6e76;
      // text-align: justify;
    }
  }

  &__right {
    max-width: 516px;
    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 16, 0);
      @include adaptiv-value("letter-spacing", 3, 0, 0);
      @include adaptiv-value("padding-bottom", 24, 14, 0);
      //   font-size: 16px;
      //   line-height: 20px;
      //   letter-spacing: 3px;
      text-transform: uppercase;
      //   padding-bottom: 24px;
    }
    h3 {
      font-family: "Sen";
      @include adaptiv-value("font-size", 28, 18, 0);
      @include adaptiv-value("line-height", 40, 26, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 6, 0);
      font-weight: 700;
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      @include adaptiv-value("padding-bottom", 64, 14, 0);
    }
  }
}

.our-team {
  @include adaptiv-value("margin-top", -63, -13, 0);
  &__container {
    display: flex;
    background-color: #ffffff;
    @include adaptiv-value("padding-top", 128, 5, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    color: rgb(35, 37, 54);
    max-height: 808px;

    @media (max-width: 950px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__left {
    max-width: 599px;
    @include adaptiv-value("padding-top", 82, 12, 0);
    @include adaptiv-value("padding-bottom", 82, 12, 0);
    @include adaptiv-value("padding-right", 80, 10, 0);
    h4 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 20, 0);
      @include adaptiv-value("line-height", 48, 30, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 10, 0);
    }

    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 24, 14, 0);
      @include adaptiv-value("line-height", 32, 24, 0);
      @include adaptiv-value("padding-bottom", 16, 10, 0);
      text-align: justify;
    }

    p {
      font-style: normal;
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      text-align: justify;
    }
  }

  &__right {
    max-width: 681px;
    @include adaptiv-value("padding-left", 57, 10, 0);
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.started {
  &__container {
    display: flex;
    background-color: #ffffff;
    @include adaptiv-value("padding-top", 128, 15, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    color: rgb(35, 37, 54);

    @media (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    max-width: 624px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    @include adaptiv-value("padding-top", 82, 12, 0);
    @include adaptiv-value("padding-bottom", 82, 12, 0);
    @include adaptiv-value("padding-left", 64, 5, 0);
    max-width: 519px;

    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("padding-bottom", 16, 10, 0);
      @include adaptiv-value("font-size", 36, 18, 0);
      @include adaptiv-value("line-height", 48, 28, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
    }

    h4 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("padding-bottom", 16, 10, 0);
      @include adaptiv-value("font-size", 24, 14, 0);
      @include adaptiv-value("line-height", 32, 24, 0);
      text-align: justify;
    }

    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      text-align: justify;
    }
  }
}
