@import "min/nav";
@import "min/buttons";
@import "min/items_categories";
@import "min/authors";
@import "min/join-team";
@import "min/footer";

.category-section {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #232536;
    max-height: 3040px;
  }

  &__row {
    display: flex;
    align-self: center;

    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-top", 128, 25, 0);
    @include adaptiv-value("padding-bottom", 128, 25, 0);

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
}
.category-content {
  &__header {
    display: none;
    flex-direction: column;
    @include adaptiv-value("padding-top", 80, 15, 0);
    @include adaptiv-value("padding-bottom", 80, 15, 0);
    // max-height: 508px;
    align-items: center;
    background-color: rgb(244, 240, 248);
    color: #232536;
  }

  &__header-title {
    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("font-size", 56, 35, 0);
    @include adaptiv-value("line-height", 64, 50, 0);
    @include adaptiv-value("letter-spacing", -2, 0, 0);
    @include adaptiv-value("padding-bottom", 16, 8, 0);
    text-align: center;

    animation: colortext 3s ease-in-out;
    @keyframes colortext {
      0% {
        color: rgba(35, 37, 54, 0.1);
      }
      50% {
        color: rgba(35, 37, 54, 0.6);
      }
      100% {
        color: rgba(35, 37, 54, 1);
      }
    }
  }

  &__header-description {
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 17, 0);
    @include adaptiv-value("padding-bottom", 32, 16, 0);
    text-align: center;
    color: #6d6e76;
  }

  &__header-category {
    font-weight: 500;
    @include adaptiv-value("font-size", 16, 13, 0);
    @include adaptiv-value("line-height", 20, 17, 0);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__body {
    display: flex;
    @include adaptiv-value("column-gap", 32, 16, 0);
    @include adaptiv-value("margin-bottom", 32, 16, 0);
    @include adaptiv-value("width", 838, 300, 0);
    animation: colortext 3s ease-in-out;
    @keyframes colortext {
      0% {
        color: rgba(35, 37, 54, 0.1);
      }
      50% {
        color: rgba(35, 37, 54, 0.6);
      }
      100% {
        color: rgba(35, 37, 54, 1);
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      // width: 160px;
    }
  }

  &__img {
    // display: flex;
    align-self: center;
    justify-content: center;
    animation: imgopacity 1.2s ease-in-out;
    @include adaptiv-value("width", 326, 280, 0);
    max-width: 300px;
    @keyframes imgopacity {
      0% {
        opacity: 0.1;
      }
      20% {
        opacity: 0.2;
      }
      30% {
        opacity: 0.3;
      }
      40% {
        opacity: 0.4;
      }
      50% {
        opacity: 0.5;
      }
      60% {
        opacity: 0.6;
      }
      70% {
        opacity: 0.7;
      }
      80% {
        opacity: 0.8;
      }
      90% {
        opacity: 0.9;
      }
      100% {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      align-self: center;
    }
  }

  &__text {
    @include adaptiv-value("width", 512, 280, 0);
    @include adaptiv-value("padding-top", 38, 19, 0);
    @include adaptiv-value("padding-bottom", 38, 19, 0);
    text-align: justify;
    animation: colortext 1.2s ease-in-out;

    @keyframes colortext {
      0% {
        color: rgba(35, 37, 54, 0.1);
      }
      50% {
        color: rgba(35, 37, 54, 0.6);
      }
      100% {
        color: rgba(35, 37, 54, 1);
      }
    }

    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 16, 0);
      @include adaptiv-value("letter-spacing", 3, 0, 0);
      @include adaptiv-value("padding-bottom", 20, 10, 0);
      text-transform: uppercase;
      color: #592ea9;

      animation: colortwo 1.2s ease-in-out;
      @keyframes colortwo {
        0% {
          color: rgba(89, 46, 169, 0.1);
        }
        50% {
          color: rgba(89, 46, 169, 0.6);
        }
        100% {
          color: rgba(89, 46, 169, 1);
        }
      }
    }

    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 16, 0);
      @include adaptiv-value("line-height", 48, 24, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 8, 0);
    }

    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      color: #6d6e76;

      animation: colorthree 1.2s ease-in-out;

      @keyframes colorthree {
        0% {
          color: rgba(109, 110, 118, 0.1);
        }
        50% {
          color: rgba(109, 110, 118, 0.6);
        }
        100% {
          color: rgba(109, 110, 118, 1);
        }
      }
    }
  }
}
.category-tab {
  &__nav {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("row-gap", 24, 12, 0);
    @include adaptiv-value("margin-left", 192, 10, 0);

    @media (max-width:768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__tab {
    display: flex;
    @include adaptiv-value("width", 296, 120, 0);
    @include adaptiv-value("height", 96, 50, 0);
    @include adaptiv-value("column-gap", 16, 4, 0);
    @include adaptiv-value("margin-left", 16, 4, 0);
    @include adaptiv-value("margin-bottom", 16, 12, 0);
    box-sizing: border-box;
    border: 1.5px solid rgb(193, 193, 195);
    @include adaptiv-value("padding-top", 24, 12, 0);
    @include adaptiv-value("padding-bottom", 24, 12, 0);
    @include adaptiv-value("padding-left", 24, 12, 0);
    cursor: pointer;

    img{
      @media (max-width:768px) {
        display: none;
      }
    }

    p {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 28, 16, 0);
      @include adaptiv-value("line-height", 40, 26, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
      // font-size: 28px;
      // line-height: 40px;
      // letter-spacing: -1px;
     
    }

    // &:hover {
    //   box-sizing: border-box;
    //   border: 2px solid rgb(255, 208, 102, 0.7);
    //   background: rgb(255, 208, 80);
    // }
  }
}
