@import "min/nav";
@import "min/buttons";
@import "min/items_categories";
@import "min/authors";
@import "min/join-team";
@import "min/footer";

// ================================
.contact-heading {
  &__container {
    display: flex;
    @include adaptiv-value("padding-top", 128, 25, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    // @include adaptiv-value("padding-bottom", 152, 5, 0);
    background-color: #ffffff;
    color: #232536;
    max-height: 345px;
    justify-content: center;
  }

  &__body {
    width: 768px;

    h4 {
      font-weight: 900;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 16, 0);
      @include adaptiv-value("letter-spacing", 3, 0, 0);
      @include adaptiv-value("margin-bottom", 12, 6, 0);
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 48, 30, 0);
      @include adaptiv-value("line-height", 64, 40, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("margin-bottom", 24, 12, 0);
      text-align: center;
    }

    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 22, 0);
      text-align: center;
      color: #6d6e76;
      padding-bottom: 5px;
    }
  }
}

// ================================
.contact {
  &__container {
    display: flex;
    color: #ffffff;
    background-color: #ffffff;
    justify-content: center;
    @include adaptiv-value("padding-top", 64, 5, 0);
    // padding-top: 64px;
    max-height: 309px;
    padding-bottom: 5px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: repeat(autofill, minmax(94px, 294px));
    background: rgb(89, 46, 169);
    @include adaptiv-value("width", 768, 300, 0);
    // max-width: 768px;
    @include adaptiv-value("gap", 42, 30, 0);
    // gap: 42px;
  }

  &__left {
    @include adaptiv-value("width", 294, 160, 0);
    // width: 294px;
    @include adaptiv-value("padding-left", 64, 32, 0);
    @include adaptiv-value("padding-top", 48, 16, 0);
    @include adaptiv-value("padding-bottom", 48, 16, 0);
    // padding-left: 64px;
    // padding-top: 48px;
    // padding-bottom: 48px;
  }

  &__right {
    @include adaptiv-value("width", 294, 160, 0);
    // width: 294px;
    @include adaptiv-value("padding-right", 73.65, 21.65, 0);
    @include adaptiv-value("padding-top", 48, 16, 0);
    @include adaptiv-value("padding-bottom", 54, 22, 0);
    // padding-right: 73.65px;
    // padding-top: 48px;
    // padding-bottom: 54px;
  }
}
.one {
  font-weight: 400;
  @include adaptiv-value("font-size", 14, 10, 0);
  @include adaptiv-value("line-height", 20, 12, 0);
  //   font-size: 14px;
  //   line-height: 20px;
  opacity: 0.6;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  padding-bottom: 15.5px;
}
.two {
  font-family: "Sen";
  font-weight: 700;
  @include adaptiv-value("font-size", 20, 12, 0);
  @include adaptiv-value("line-height", 32, 24, 0);
  //   font-size: 20px;
  //   line-height: 32px;
  padding-top: 16.5px;

  &:nth-child(3n) {
    padding-top: 0px;
  }

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #ff6584;
    }
  }
}
.three {
  font-weight: 400;
  @include adaptiv-value("font-size", 16, 10, 0);
  @include adaptiv-value("line-height", 28, 20, 0);
  //   font-size: 16px;
  //   line-height: 28px;
  opacity: 0.6;
}

// ================================
.contact-form {
  &__container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #232536;
    @include adaptiv-value("padding-top", 32, 5, 0);
    @include adaptiv-value("padding-bottom", 128, 10, 0);

    max-height: 532px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("width", 768, 290, 0);
    @include adaptiv-value("row-gap", 16, 8, 0);
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 24, 0);
  }

  &__input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include adaptiv-value("height", 76, 42, 0);
    @include adaptiv-value("padding", 24, 8, 0);
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
  }

  &__select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(14%, 15%, 21%, 0.69);
    font-family: "Inter";
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 24, 0);
    @include adaptiv-value("height", 76, 42, 0);
    @include adaptiv-value("padding", 24, 8, 0);
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
  }

  &__textarea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include adaptiv-value("padding", 24, 8, 0);
    height: 144px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
  }

  &__send-message {
    @include adaptiv-value("height", 64, 44, 0);
    @include adaptiv-value("font-size", 24, 16, 0);
    @include adaptiv-value("line-height", 32, 24, 0);
    font-family: "Sen";
    font-weight: 700;
    text-align: center;
    background-color: rgb(255, 208, 80);
  }
}
