@import "min/nav";
@import "min/buttons";
@import "min/items_categories";
@import "min/authors";
@import "min/join-team";
@import "min/footer";

// ================================
.content {
  // @include adaptiv-value("padding-left", 80, 30, 0);
  // @include adaptiv-value("padding-right", 80, 30, 0);
  // height: 5996px;
  @include adaptiv-value("margin-top", 10, 2, 0);
  @include adaptiv-value("margin-bottom", 10, 2, 0);
  // box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  // max-height: max-content;
}

// ================================
.main-post {
  &__container {
    background-image: url(../img/home/man_in_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    // @include adaptiv-value("height", 720, 220, 0);
    @include adaptiv-value("padding-top", 208, 15, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-bottom", 192, 10, 0);
    max-height: 720px;
    @media (min-width: 2000px) {
      padding-top: 108px;
      height: 650px;
    }
  }
  &__body {
  }

  h4 {
    font-weight: 500;
    @include adaptiv-value("font-size", 16, 10, 0);
    @include adaptiv-value("line-height", 20, 14, 0);
    @include adaptiv-value("letter-spacing", 3, 0, 0);
    text-transform: uppercase;
    @include adaptiv-value("margin-bottom", 24, 12, 0);
  }

  h1 {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    @include adaptiv-value("font-size", 56, 18, 0);
    @include adaptiv-value("line-height", 64, 20, 0);
    @include adaptiv-value("letter-spacing", -2, 0, 0);
    @include adaptiv-value("margin-bottom", 24, 12, 0);
  }

  p {
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 8, 0);
    @include adaptiv-value("line-height", 28, 14, 0);
    @include adaptiv-value("margin-bottom", 24, 12, 0);

    a {
      color: rgba(255, 208, 80, 1);
      text-align: center;
    }

    &:last-child {
      @include adaptiv-value("margin-bottom", 48, 24, 0);
    }
  }
}

// ================================
.posts {
  &__container {
    @include adaptiv-value("padding-top", 128, 25, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-bottom", 152, 5, 0);
    max-height: 956px;
    display: flex;
    justify-content: space-around;
    @include adaptiv-value("gap", 32, 5, 0);
    background-color: #ffffff;
    color: #232536;

    // @media (min-width: 1441px) {
    //   height: 1050px;
    //   padding-bottom: 61px;
    // }
  }

  &__featured {
    // grid-area: featured;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    @include adaptiv-value("width", 733, 400, 0);
    // width: 733px;

    h3 {
      display: flex;
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 12, 0);
      @include adaptiv-value("line-height", 48, 32, 0);
      @include adaptiv-value("letter-spacing", -2, -1, 0);
      @include adaptiv-value("padding-left", 32, 10, 0);
      align-self: start;
    }
    p {
      font-weight: 500;
      @include adaptiv-value("font-size", 14, 8, 0);
      @include adaptiv-value("line-height", 20, 14, 0);
      @include adaptiv-value("padding-top", 32, 14, 0);
      @include adaptiv-value("padding-left", 32, 10, 0);
      @include adaptiv-value("padding-bottom", 25, 12, 0);

      span {
        color: #4c4c4c;
      }

      &:last-child {
        font-weight: 400;
        @include adaptiv-value("font-size", 16, 14, 0);
        @include adaptiv-value("line-height", 28, 22, 0);
        @include adaptiv-value("padding-top", 16, 10, 0);
      }
    }

    h4 {
      font-family: "Sen";

      font-weight: 700;
      @include adaptiv-value("font-size", 28, 10, 0);
      @include adaptiv-value("line-height", 40, 14, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
      @include adaptiv-value("padding-left", 32, 10, 0);
    }
  }

  &__featured-img {
    @include adaptiv-value("padding-top", 64, 0, 0);
    @include adaptiv-value("padding-left", 32, 10, 0);

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("width", 517, 400, 0);
  }

  &__side-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;

    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 12, 0);
      @include adaptiv-value("line-height", 48, 18, 0);
      @include adaptiv-value("letter-spacing", -2, -1, 0);
    }

    a {
      display: flex;
      font-weight: 400;
      @include adaptiv-value("font-size", 36, 12, 0);
      @include adaptiv-value("line-height", 28, 12, 0);
      @include adaptiv-value("padding-left", 240, 10, 0);
      // font-size: 16px;
      // line-height: 28px;
      // padding-left: 300px;
      color: #592ea9;
      align-items: center;

      @media (min-width: 2200px) {
        padding-left: 150px;
      }
    }
  }

  &__side-articles {
    cursor: pointer;
    @include adaptiv-value("padding-top", 32, 8, 0);
    p {
      font-weight: 500;
      @include adaptiv-value("font-size", 14, 8, 0);
      @include adaptiv-value("line-height", 20, 14, 0);
      @include adaptiv-value("padding-left", 32, 10, 0);
      // font-size: 14px;
      // line-height: 20px;
      // padding-left: 32px;

      span {
        color: #4c4c4c;
      }
    }

    h4 {
      font-family: "Sen";
      @include adaptiv-value("font-size", 24, 10, 0);
      @include adaptiv-value("line-height", 32, 16, 0);
      @include adaptiv-value("padding-left", 32, 10, 0);
      font-weight: 700;
      // font-size: 24px;
      // line-height: 32px;
      // padding-left: 32px;

      &:last-child {
        padding-bottom: 0px;
      }
    }

    &:hover {
      background-color: rgb(251, 246, 234);
      transition: background-color 450ms ease-in;
    }
  }
}

// ================================
.aboutus {
  &__container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    /* Lavender */
    background: rgb(244, 240, 248);
    color: #232536;
    // @include adaptiv-value("height", 528, 350, 0);
    max-height: 500px;
    justify-content: space-evenly;
    background-image: url(../img/about_us/Group_9200.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    @include adaptiv-value("padding-top", 98, 24, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-right", 80, 15, 0);
    @include adaptiv-value("padding-bottom", 36, 10, 0);
    @include adaptiv-value("gap", 22, 10, 0);
  }

  &__left {
    @include adaptiv-value("width", 515, 450, 0);

    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 10, 0);
      @include adaptiv-value("line-height", 20, 12, 0);
      @include adaptiv-value("letter-spacing", 3, 1, 0);
      @include adaptiv-value("padding-bottom", 24, 12, 0);
      text-transform: uppercase;
    }
    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 12, 0);
      @include adaptiv-value("line-height", 48, 22, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 0, 0);
      padding-bottom: 16px;
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 10, 0);
      @include adaptiv-value("line-height", 28, 18, 0);
      @include adaptiv-value("padding-bottom", 16, 8, 0);
      color: #6d6e76;
    }
    a {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 18, 12, 0);
      @include adaptiv-value("line-height", 32, 24, 0);
      display: flex;
      align-items: center;
      color: #592ea9;
    }
  }

  &__right {
    @include adaptiv-value("width", 516, 450, 0);
    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 10, 0);
      @include adaptiv-value("line-height", 20, 12, 0);
      @include adaptiv-value("letter-spacing", 3, 1, 0);
      @include adaptiv-value("padding-bottom", 24, 12, 0);
      text-transform: uppercase;
    }
    h3 {
      font-family: "Sen";
      font-weight: 700;
      @include adaptiv-value("font-size", 28, 12, 0);
      @include adaptiv-value("line-height", 40, 20, 0);
      @include adaptiv-value("letter-spacing", -1, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 8, 0);
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 10, 0);
      @include adaptiv-value("line-height", 28, 18, 0);
      color: #6d6e76;
    }
  }
}

// ================================
.category {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    @include adaptiv-value("padding-top", 128, 5, 0);
    @include adaptiv-value("padding-left", 80, 15, 0);
    // width: 1280px;
    // @include adaptiv-value("padding-right", 97, 30, 0);
    color: rgb(35, 37, 54);
    // height: 452px;
    max-height: 519px;
  }

  &__tittle {
    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("font-size", 36, 18, 0);
    @include adaptiv-value("line-height", 48, 22, 0);
    @include adaptiv-value("letter-spacing", -2, 0, 0);
    @include adaptiv-value("padding-bottom", 48, 4, 0);
    text-align: center;
  }
}

// ================================
.special-post {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    color: #232536;
    background-color: #ffffff;
    @include adaptiv-value("padding-left", 80, 15, 0);
    // @include adaptiv-value("padding-right", 80, 0, 0);
    @include adaptiv-value("padding-top", 128, 16, 0);
    // @include adaptiv-value("height", 833, 330, 0);
    // height: 705px;

    max-height: 833px;
  }

  &__left {
    grid-column: 1 / span 9;
    grid-row: 1;
    @include adaptiv-value("width", 949, 250, 0);
    // @include adaptiv-value("height", 705, 150, 0);
    // max-width: 949px;
    // max-height: 705px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    grid-column: 7 span / -1;
    grid-row: 1;
    margin-top: 8.3%;
    z-index: 1;

    // @include adaptiv-value("top", 121, 12, 0);
    // @include adaptiv-value("left", 574, 110, 0);
    background-color: #ffffff;
    @include adaptiv-value("width", 706, 145, 0);
    @include adaptiv-value("height", 584, 250, 0);
    // max-height: 584px;

    // height: 584px;
    // @include adaptiv-value("padding", 80, 15, 0);
    @include adaptiv-value("padding-top", 80, 5, 0);
    @include adaptiv-value("padding-left", 80, 5, 0);
    @include adaptiv-value("padding-right", 80, 5, 0);
    box-sizing: border-box;
    border: 1px solid rgb(109, 110, 118, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 8, 0);
      @include adaptiv-value("line-height", 20, 12, 0);
      @include adaptiv-value("letter-spacing", 3, 2, 0);
      @include adaptiv-value("padding-bottom", 24, 4, 0);
      text-transform: uppercase;
    }
    h3 {
      font-family: "Sen";
      font-style: normal;
      font-weight: 700;
      @include adaptiv-value("font-size", 48, 16, 0);
      @include adaptiv-value("line-height", 64, 22, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 6, 0);
    }
    p {
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 9, 0);
      @include adaptiv-value("line-height", 28, 12, 0);
      @include adaptiv-value("padding-bottom", 32, 8, 0);
      color: #6d6e76;
    }
  }
}

// ================================

.authors {
  &__container {
    display: flex;
    // display: none;
    flex-direction: column;
    color: #232536;
    background-color: #ffffff;
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-top", 128, 16, 0);
    // @include adaptiv-value("height", 548, 350, 0);
    max-height: 548px;
  }

  &__tittle {
    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("font-size", 36, 12, 0);
    @include adaptiv-value("line-height", 48, 22, 0);
    @include adaptiv-value("letter-spacing", -2, 0, 0);
    @include adaptiv-value("padding-bottom", 48, 14, 0);
    text-align: center;
  }
}

// ================================
.featured-in {
  &__container {
    display: flex;
    flex-direction: row;
    color: #232536;
    background-color: #ffffff;
    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-top", 96, 0, 0);
    // @include adaptiv-value("height", 52, 162, 0);

    max-height: 148px;

    // @media (max-width:600) {
    //   height: 548px;
    //   padding-top: 80px;
    // }
  }

  &__tittle {
    display: flex;
    font-weight: 400;

    // @include adaptiv-value("width", 136, 120, 0);
    @include adaptiv-value("height", 32, 30, 0);
    // width: 136px;
    text-align: start;
    align-self: center;
    color: #6d6e76;
    opacity: 0.6;

    p {
      @include adaptiv-value("width", 60, 40, 0);
      align-self: center;
      @include adaptiv-value("font-size", 14, 10, 0);
      @include adaptiv-value("line-height", 20, 14, 0);

      &:last-child {
        @include adaptiv-value("width", 140, 70, 0);
        @include adaptiv-value("font-size", 24, 12, 0);
        @include adaptiv-value("line-height", 32, 14, 0);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    // margin-bottom: 20px;
  }

  &__link {
    display: flex;
    @include adaptiv-value("margin-left", 112, 42, 0);
    @include adaptiv-value("margin-top", 0, 10, 0);
    // margin-top: 15px;
    // margin-left: 102px;
    @include adaptiv-value("width", 136, 120, 0);

    img {
      @include adaptiv-value("width", 136, 120, 0);
      @include adaptiv-value("height", 32, 20, 0);
      color: #6d6e76;
    }
  }
}

// ================================

.testimonial {
  &__container {
    display: flex;
    color: #232536;
    background-color: #ffffff;

    @include adaptiv-value("padding-left", 80, 15, 0);
    @include adaptiv-value("padding-top", 104, 20, 0);
    // @include adaptiv-value("height", 568, 400, 0);
    // max-width: 1360px;
    max-height: 556px;
    // max-height: 568px;
  }

  &__left {
    background: rgb(251, 246, 234);
    border-right: 1px solid rgb(109, 110, 118, 0.1);
    // @include adaptiv-value("width", 581.5, 160, 0);
    // max-width: 581.5px;
    @include adaptiv-value("height", 464, 370, 0);
    @include adaptiv-value("padding-left", 112, 10, 0);
    @include adaptiv-value("padding-right", 70, 10, 0);
    @include adaptiv-value("padding-top", 52, 30, 0);

    h4 {
      font-weight: 600;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 20, 14, 0);
      @include adaptiv-value("letter-spacing", 3, 2, 0);
      @include adaptiv-value("padding-bottom", 12, 6, 0);
      // font-size: 16px;
      // line-height: 20px;
      // letter-spacing: 3px;
      text-transform: uppercase;
      // padding-bottom: 12px;
    }

    h3 {
      font-family: "Sen";
      text-align: start;
      font-weight: 700;
      @include adaptiv-value("font-size", 36, 18, 0);
      @include adaptiv-value("line-height", 48, 24, 0);
      @include adaptiv-value("letter-spacing", -2, 0, 0);
      @include adaptiv-value("padding-bottom", 16, 10, 0);
      // font-size: 36px;
      // line-height: 48px;
      // letter-spacing: -2px;
      // padding-bottom: 16px;
    }

    p {
      text-align: start;
      font-weight: 400;
      @include adaptiv-value("font-size", 16, 12, 0);
      @include adaptiv-value("line-height", 28, 24, 0);
      // font-size: 16px;
      // line-height: 28px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    // align-content: center;
    background: rgb(251, 246, 234);
    // @include adaptiv-value("width", 778.5, 160, 0);
    // max-width: 778.5px;
    @include adaptiv-value("height", 464, 370, 0);
    // @include adaptiv-value("padding-left", 112, 10, 0);
    // @include adaptiv-value("padding-right", 170, 10, 0);
    @include adaptiv-value("padding-top", 52, 25, 0);
  }

  &__line {
    display: flex;
  }

  &__author {
    display: flex;
    flex-direction: column;
    width: 500px;
    // align-content: center;
    // width: 500px;
  }

  &__author-bio {
    text-align: center;
    // max-width: 700px;
    align-self: center;
    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("padding-bottom", 46, 20, 0);
    @include adaptiv-value("font-size", 24, 14, 0);
    @include adaptiv-value("line-height", 32, 18, 0);
  }

  &__author-img {
    width: 70px;
    // height: 50px;
    align-self: center;
    @include adaptiv-value("padding-top", 121, 20, 0);
    // padding-top: 121px;
    // border-radius: 50%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__author-link {
    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 14, 0);
    @include adaptiv-value("line-height", 32, 22, 0);
    text-align: center;
  }

  p {
    font-weight: 400;
    @include adaptiv-value("font-size", 16, 12, 0);
    @include adaptiv-value("line-height", 28, 18, 0);
    text-align: center;
    // font-size: 16px;
    // line-height: 28px;
    color: #6d6e76;
  }

  &__pagination {
    display: flex;
    align-self: center;
    padding-left: 130px;

    font-family: "Sen";
    font-weight: 700;
    @include adaptiv-value("font-size", 56, 26, 0);
    // @include adaptiv-value("line-height", 28, 22, 0);
    text-align: center;
    // font-size: 16px;
    // line-height: 28px;
    color: #6d6e76;
    padding-top: 16px;
    @include adaptiv-value("gap", 100, 5, 0);
    gap: 100px;
    cursor: pointer;
  }
}
